.side-bar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--space-30)
}

.side-bar__logo-wrapper {
    padding: var(--space-30) var(--space-16) 0 var(--space-16);
}