.password-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.password-wrapper__form {
    padding: var(--space-50);
}

.password-wrapper__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 37rem;
}

.password-wrapper__image {
    padding: var(--space-50);
}

.password-wrapper__image img {
    height: 24rem;
    width: auto;
}