@import url("./base.css");
@import url("./colors.css");
@import url("./spacing.css");
@import url("./border-radius.css");
@import url("./shadows.css");
@import url("./typography.css");

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}