.linear-progress {
    display: grid;
    grid-template-columns: 1fr 3.5rem;
    align-items: center;
    gap: var(--space-12);
}

.linear-progress.linear-progress--rounded .linear-progress__max {
    border-radius: var(--border-radius-8);
}
.linear-progress.linear-progress--rounded .linear-progress__progress {
    border-radius: var(--border-radius-8);
}

.linear-progress__max {
    height: 0.6rem;
    background-color: var(--jaguar-50);
}

.linear-progress__progress {
    background-color: var(--jaguar-400);
    height: 0.6rem;
}

.linear-progress__progress-indicator svg {
    fill: var(--jaguar-400);
    height: 2rem;
    width: 2rem;
}

.linear-progress__progress-indicator span {
    font-size: var(--font-size-16);
    line-height: var(--line-height-24);
    color: var(--jaguar-400);
}

.linear-progress__progress-indicator {
    display: flex;
    align-items: center;
    justify-content: start;
}

.linear-progress--orange .linear-progress__max {
    background-color: var(--sunglow-50);
}

.linear-progress--blue .linear-progress__max {
    background-color: var(--blue-ribbon-50);
}

.linear-progress--red .linear-progress__max {
    background-color: var(--red-orange-50);
}

.linear-progress--green .linear-progress__max {
    background-color: var(--green-50);
}

.linear-progress--green .linear-progress__progress {
    background-color: var(--green-50);
}

.linear-progress--orange .linear-progress__progress {
    background-color: var(--sunglow-700);
}

.linear-progress--blue .linear-progress__progress {
    background-color: var(--blue-ribbon-500);
}

.linear-progress--red .linear-progress__progress {
    background-color: var(--red-orange-500);
}

.linear-progress--green .linear-progress__progress {
    background-color: var(--green-500);
}

.linear-progress--orange svg {
    fill: var(--sunglow-700);
}

.linear-progress--blue svg {
    fill: var(--blue-ribbon-500);
}

.linear-progress--red svg {
    fill: var(--red-orange-500);
}

.linear-progress--green svg {
    fill: var(--green-500);
}

.linear-progress--orange span {
    color: var(--sunglow-700);
}

.linear-progress--blue span {
    color: var(--blue-ribbon-500);
}

.linear-progress--red span {
    color: var(--red-orange-500);
}

.linear-progress--green span {
    color: var(--green-500);
}
